---
name: Build Docs

on:
  push:
    branches: [main]
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      version:
        description: Manual Doc Build
        default: run-doc-build
        required: false
jobs:
  docs:
    name: build & push docs
    runs-on: ${{ matrix.os }}
    timeout-minutes: 90
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        environment-file: [ci/py313_latest.yaml]
        experimental: [false]
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: setup micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ${{ matrix.environment-file }}
          micromamba-version: "latest"

      - name: install package
        run: pip install . --no-deps

      - name: make docs
        run: cd docs; make html

      - name: Publish to Github Pages on main (dev)
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html/
          destination_dir: dev
          keep_files: false

      - name: Publish to Github Pages on release (versioned)
        if: ${{ github.ref_type == 'tag' }}
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html/
          destination_dir: ${{ github.ref_name }}

      - name: Publish to Github Pages on release (stable)
        if: ${{ github.event_name == 'tag' }}
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html/
          destination_dir: stable
          keep_files: false

      - name: Update the versions switcher
        if: ${{ github.ref_type == 'tag' }}
        run: |
          git checkout gh-pages
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          python update_version_json.py --version ${{ github.ref_name }}
          git add versions.json
          git commit -m "Update versions switcher"
          git push