---
name: Typing

on:
    push:
        branches: [main]
    pull_request:
        branches:
            - "*"
    schedule:
        - cron: "59 23 * * *"
    workflow_dispatch:
        inputs:
            version:
                description: Manual CI Run
                default: test
                required: false

jobs:
    ty-check:
        name: python
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Install uv
              uses: astral-sh/setup-uv@v7

            - name: Run tests
              run: uvx ty check gwlearn
